<co-nav-title title="CSS Modules">
  <a href="#" class="co-m-primary-action">Primary Action Link</a>
</co-nav-title>

<div class="row">
  <div class="col-lg-6">
    <div id="module-modal-link" class="panel co-fx-box-shadow-heavy">
      <div class="panel-heading">
        <h1>.co-m-modal-link</h1>
      </div>
      <div class="panel-body">
        <a href="#" class="co-m-modal-link">Links like this launch modals</a>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div id="module-invisible-input" class="panel co-fx-box-shadow-heavy">
      <div class="panel-heading">
        <h1>.co-m-invisible-input</h1>
      </div>
      <div class="panel-body">
        <input type="text" class="co-m-invisible-input" value="this is actually an input field. try clicking"/>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div id="module-huge-text" class="panel co-fx-box-shadow-heavy">
      <div class="panel-heading">
        <h1>.co-m-huge-text</h1>
      </div>
      <div class="panel-body">
        <span class="co-m-huge-text">Huge Text!</span>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div id="module-message" class="panel co-fx-box-shadow-heavy">
      <div class="panel-heading">
        <h1>.co-m-message</h1>
        requires one of the below state modifier classes
      </div>
      <div class="panel-body">
        <p>.co-m-message--info</p>
        <div class="co-m-message co-m-message--info">an info message</div>
        <p>.co-m-message--error</p>
        <div class="co-m-message co-m-message--error">an error message</div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-6">
    <div id="module-buttons" class="panel co-fx-box-shadow-heavy">
      <div class="panel-heading">
        <h1>bootstrap overridden button classes</h1>
      </div>
      <div class="panel-body">
        <div>
          <button class="btn btn-primary">primary</button>
          <code>.btn.btn-primary</code>
        </div>
        <div>
          <button class="btn btn-default">default</button>
          <code>.btn.btn-default</code>
        </div>
        <div>
          <button class="btn btn-link">link</button>
          <code>.btn.btn-link</code>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div id="" class="panel co-fx-box-shadow-heavy">
      <div class="panel-heading">
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>

